html{
    font-size: 16px;
    background-color: aliceblue;
}
body{
    color: #333;
    margin: 0;
    font: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 3rem;
    text-align: center;
}
h2{
    font-size: 2rem;
}
section{
    margin: 16px;
}

img{
    max-width: 100%;
}
figcaption{
    text-align: center;
}
#waiting{
    visibility: hidden;
}
#error{
    visibility: hidden;
}
.wrapper{
    background-color: rgb(127, 161, 192);
}
.examples{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}
.examples h2{
    text-align: center;
    margin-top: 4px;
    margin-bottom:0 ;
}
.suicune{
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    object-fit: contain;
}
.after_op{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1px;
}
.after_op figure{
    margin: 0 0 12px 0;
    padding: 0;
}
.u_im_box{
    border: 4px solid green;
    padding: 4px 12px 4px 4px;
    
    
}
form {
    background-color: #E5E4E2;
    width: 420px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid blue;
    padding: 4px;
}
form button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#uploaded_image{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}
.rbuttons{
    list-style-type: none;
    
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}